<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.1.0" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.1.0" targetFramework="net452" />
  <package id="Common.Logging.Serilog" version="3.1.6" targetFramework="net452" />
  <package id="Serilog" version="1.5.14" targetFramework="net452" />
  <package id="Serilog.Exceptions" version="1.2.0" targetFramework="net452" />
  <package id="Serilog.Sinks.EventLog" version="1.5.11" targetFramework="net452" />
  <package id="Serilog.Sinks.MSSqlServer" version="3.0.98" targetFramework="net452" />
</packages>